.ui-tag-cloud{
	width: 700px;
	overflow: hidden;
	position: relative;
	margin: 100px auto;
}
.ui-tag-cloud > div{
	background-color: #ccc;
}
.ui-tag-cloud > .ui-person-head{
	width: 400px;
	height: 100px;
	border-radius:100px;
}