.ui-tag-cloud {
	max-width: 650px;
	overflow: hidden;
	position: relative;
	margin: 100px auto;
	width: 100%;
}

.ui-tag-cloud>div {
	background-color: #ccc;
}

.ui-tag-cloud>.ui-person-head {
	width: 400px;
	height: 460px;
	border-radius: 200px;
	position: relative;
	z-index: 11;
	margin: 0 auto;
}

.ui-tag-cloud>.ui-person-head>.ui-person-ear {
	width: 60px;
	height: 110px;
	border-radius: 50px;
	background-color: #ccc;
	position: absolute;
}

.ui-tag-cloud>.ui-person-head>.ui-person-ear.fleft {
	margin: 185px 0 0 -25px;
}

.ui-tag-cloud>.ui-person-head>.ui-person-ear.fright {
	margin: 185px -25px 0 0;
	right: 0px;
}

.ui-tag-cloud>.ui-person-head>.ui-person-tag {
	width: 400px;
	height: 460px;
	padding: 30px;
	border-radius: 200px;
	overflow: hidden;
}

.ui-tag-cloud>.ui-person-body {
	width: 650px;
	margin: -30px 0 0;
	height: 250px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	overflow: hidden;
}

.ui-tag-cloud span {
	position: absolute;
	overflow: hidden;
	line-height: 1.2;
	z-index: 12;
	display: inline-block;
}
/* fonts */
div.jqcloud {
	font-family: "微软雅黑", "微软雅黑", sans-serif;
	font-size: 10px;
	line-height: normal;
}

div.jqcloud a {
	font-size: inherit;
	text-decoration: none;
}

div.jqcloud span.w10 {
	font-size: 400%;
}

div.jqcloud span.w9 {
	font-size: 360%;
	transition: font-size 2s;
	-moz-transition: font-size 2s; /* Firefox 4 */
	-webkit-transition: font-size 2s; /* Safari 和 Chrome */
	-o-transition: font-size 2s; /* Opera */
}

div.jqcloud span.w8 {
	font-size: 350%;
	transition: font-size 2s;
	-moz-transition: font-size 2s; /* Firefox 4 */
	-webkit-transition: font-size 2s; /* Safari 和 Chrome */
	-o-transition: font-size 2s; /* Opera */
}

div.jqcloud span.w7 {
	font-size: 240%;
	transition: font-size 2s;
	-moz-transition: font-size 2s; /* Firefox 4 */
	-webkit-transition: font-size 2s; /* Safari 和 Chrome */
	-o-transition: font-size 2s; /* Opera */
}

div.jqcloud span.w6 {
	font-size: 210%;
	transition: font-size 2s;
	-moz-transition: font-size 2s; /* Firefox 4 */
	-webkit-transition: font-size 2s; /* Safari 和 Chrome */
	-o-transition: font-size 2s; /* Opera */
}

div.jqcloud span.w5 {
	font-size: 190%;
	transition: fontSize 2s;
	-moz-transition: font-size 2s; /* Firefox 4 */
	-webkit-transition: font-size 2s; /* Safari 和 Chrome */
	-o-transition: font-size 2s; /* Opera */
}

div.jqcloud span.w4 {
	font-size: 170%;
}

div.jqcloud span.w3 {
	font-size: 150%;
}

div.jqcloud span.w2 {
	font-size: 130%;
}

div.jqcloud span.w1 {
	font-size: 110%;
}

/* colors */
div.jqcloud {
	color: #09f;
}

div.jqcloud a {
	color: inherit;
}

div.jqcloud span:hover {
	color: red;
	font-size: 40px;
	font-weight: bold;
	transition: font-size 1s;
	-moz-transition: font-size 1s; /* Firefox 4 */
	-webkit-transition: font-size 1s ease-in; /* Safari 和 Chrome */
	-o-transition: font-size 1s; /* Opera */
}
div.jqcloud span.w10 {
	color: #0cf;
}

div.jqcloud span.w9 {
	color: #0cf;
}

div.jqcloud span.w8 {
	color: #0cf;
}

div.jqcloud span.w7 {
	color: #39d;
}

div.jqcloud span.w6 {
	color: #90c5f0;
}

div.jqcloud span.w5 {
	color: #90a0dd;
}

div.jqcloud span.w4 {
	color: #90c5f0;
}

div.jqcloud span.w3 {
	color: #a0ddff;
}

div.jqcloud span.w2 {
	color: #99ccee;
}

div.jqcloud span.w1 {
	color: #aab5f0;
}

div.jqcloud span.vertical {
	-webkit-writing-mode: vertical-rl;
	writing-mode: tb-rl;
}

/* layout */
div.jqcloud {
	overflow: hidden;
	position: relative;
}

div.jqcloud span {
	padding: 0;
/* 	-webkit-animation:fontSize 1s linear; */
/*     -moz-animation:fontSize 1s linear; */
/*     -o-animation:fontSize 1s linear ; */
/*     animation:fontSize 1s linear ; */
	transition: font-size 2s;
	-moz-transition: font-size 2s; /* Firefox 4 */
	-webkit-transition: font-size 2s ease-in; /* Safari 和 Chrome */
	-o-transition: font-size 2s; /* Opera */
}

.append_div {
	background: black;
	color: #FFFFFF;
	opacity: 0.3;
	text-align: center;
	position: fixed;
	height: 100px;
	width: 80px;
	z-index: 20;
}